<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="http://andyf.me/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <p>&larr; <a href="http://andyf.me/">andyf.me</a></p>
    <h1>{{title}}</h1>
    <p>A simple tool for browsing Unicode characters, inspired by <a href="http://www.alanwood.net/unicode/index.html">Alan Wood</a>.</p>

    <div id="controls">
      <label for="block">Block:</label>
      <select id="block">
        <option value="-1">WGL4 meta-block</option>
        {{#each blocks}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>

      <br>

      <label for="search">Search:</label>
      <input id="search" type="search" placeholder="enter a character name" data-last-value="">
      <input id="block_only" type="checkbox">
      <label for="block_only">in this block only</label>


    </div>

    <div id="wgl4_limiter">
      <input id="wgl4_only" type="checkbox">
      <label for="wgl4_only">Limit to characters present in <a href="http://en.wikipedia.org/wiki/Windows_Glyph_List_4">WGL4</a></label>
    </div>

    <div id="charlist" class="loading"></div>

    <script src="/js/lib/handlebars.runtime-v1.3.0.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
