<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="https://andyf.me/favicon.ico">
    <link rel="stylesheet" href="/ucdb/css/main.css">
    <script>
// Discover the system UI font and create a CSS rule for it.
// https://css-tricks.com/os-specific-fonts-css/
(function() {
    window.addEventListener("DOMContentLoaded", function() {
        getSystemFontFamily(function(systemFontFamily) {
            var cssText = ".system-font { font-family: " + systemFontFamily + " }";
            var element = createStyleElement(cssText);
            document.head.insertBefore(element, document.head.firstChild);
        });
    });

    function getSystemFontFamily(callback) {
        withHiddenFrame(function(document) {
            var button = document.createElement("button");
            document.body.appendChild(button);
            callback(window.getComputedStyle(button).fontFamily);
        });
    }

    function withHiddenFrame(callback) {
        var frame = document.createElement("iframe");
        frame.style.cssText = "width: 0; height: 0; visibility: hidden";
        frame.onload = function() {
            callback(frame.contentDocument);
            document.body.removeChild(frame);
        };
        document.body.appendChild(frame);
    }

    function createStyleElement(cssText) {
        var element = document.createElement("style");
        element.type = "text/css";
        if (element.styleSheet) {
            element.styleSheet.cssText = cssText;
        } else {
            element.appendChild(document.createTextNode(cssText));
        }
        return element;
    }
})();
    </script>
  </head>
  <body class="system-font">
    <div id="bg"></div>
    <header>
      <h1>{{title}}</h1>
      <p>A simple tool for browsing and searching Unicode characters, inspired
      by <a href="http://www.alanwood.net/unicode/index.html">Alan Wood</a>,
      and using data from the official <a
        href="http://www.unicode.org/ucd/">Unicode Character Database</a>.</p>

      <!--[if IE lte 8]>
      <p class="alert">Sorry, this tool is not backwards-compatible with old browsers.</p>
      <![endif]-->

      <p>Characters are displayed using the <a
        href="http://dejavu-fonts.org/wiki/Main_Page">DejaVu</a> sans font, to
      maximise the range that can be displayed. Even so, you will see ‘missing
      glyph’ boxes for many less common characters, depending on the fonts
      installed on your computer/device.</p>

      <div id="controls">
        <label for="block">Block:</label>
        <dl class="dropdown">
          <dt id="block" data-value="-1">WGL4 meta-block</dt>
          <dd>
            <nav id="block_list"></nav>
          </dd>
        </dl>

        <script>
          var UCDB = {};
          UCDB.pageSize = {{pageSize}};
          UCDB.blocks = {{{blocksJSON}}};
          UCDB.blockLookup = {
            '-1': 'WGL4 meta-block'
          };
          UCDB.blocks.forEach(function (block) {
            UCDB.blockLookup[block.id] = block.name;
          });
        </script>

        <br>

        <label for="search">Search: </label>
        <input id="search"
          type="search"
          placeholder="enter a character name or code"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          data-last-value="">
        <input id="block_only" type="checkbox">
        <label for="block_only" title="Ignored for single character searches.">in selected block only</label>

      </div>

      <div id="wgl4_limiter">
        <input id="wgl4_only" type="checkbox">
        <label for="wgl4_only">Limit to characters present in <a href="http://en.wikipedia.org/wiki/Windows_Glyph_List_4">WGL4</a></label>
      </div>
    </header>

    <div id="charlist" class="loading"></div>

    <footer>
      <p>By <a href="http://andyf.me/">Andy Farrell</a>.</p>
    </footer>

    <script src="/ucdb/js/lib/handlebars.runtime-v1.3.0.js"></script>
    <script src="/ucdb/js/templates.js"></script>
    <script src="/ucdb/js/main.js"></script>
  </body>
</html>
