@font-face {
  font-family: 'DejaVuSans';
  src: url('/media/fonts/DejaVuSans-webfont.eot');
  src: url('/media/fonts/DejaVuSans-webfont.eot?iefix') format('eot'),
       url('/media/fonts/DejaVuSans-webfont.woff') format('woff'),
       url('/media/fonts/DejaVuSans-webfont.ttf') format('truetype'),
       url('/media/fonts/DejaVuSans-webfont.svg#webfont') format('svg');
}

html {
  font: 16px/1.5 "Helvetica Neue", "Liberation Sans", "Arial", sans-serif;
  color: #333;
  background: #fafafa;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  max-width: 65em;
  margin: 0 auto;
  padding: 0 1em 2em;
}

a {
  color: #0084d1;
  border-color: #0084d1;
  border-style: dotted;
  border-width: 0;
  transition: color 0.2s;
}

a:visited {
  color: #6d8ea0;
  border-color: #6d8ea0;
}

a:hover {
  color: #5ec3ff;
  border-color: #5ec3ff;
}

h1, h2, th {
  line-height: 1;
}

h1 {
  border-bottom: 1px solid #0084d1;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
}

p {
  margin: 0 0 1em;
}

p.alert {
  color: #cf000b;
  padding: 1em;
  background: #fff;
  border: 1px solid #cf000b;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  cursor: pointer;
}

input[type=checkbox] + label::before {
  content: "\a0"; /* non-breaking space */
  display: inline-block;
  border: 1px solid #aaa;
  line-height: 1;
  text-align: center;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  background: #fff;
}

input[type=checkbox]:checked + label::before {
  content: "\2714"; /* heavy check mark ✔ */
}

input[type=checkbox] + label:hover::before {
  color: #0084d1;
  border-color: #0084d1;
}

#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font: 4em/1 "Source Code Pro", "Consolas", "Inconsolata", "Monaco", monospace;
  color: #f5f5f5;
  overflow: hidden;
  white-space: pre;
  letter-spacing: 0.2em;
  z-index: -1;
  pointer-events: none;
}

.loading {
  opacity: 0.5;
}

#controls {
  margin-bottom: 1em;
}

.dropdown,
.dropdown dd,
.dropdown dt,
.dropdown ul,
.dropdown li {
  margin: 0;
  padding: 0;
}

.dropdown,
.dropdown dd {
  width: 24em;
}

.dropdown a {
  transition: none;
}

.dropdown dt {
  position: relative;
  display: block;
  border: 1px solid #aaa;
  padding: 0.2em 0.5em;
  cursor: pointer;
  background: #fff;
}

.dropdown dt:after {
  display: block;
  content: "▾";
  position: absolute;
  right: 0.5em;
  top: 50%;
  line-height: 0;
}

.dropdown dt:hover {
  color: #0084d1;
  border-color: #0084d1;
}

.dropdown dd {
  position: fixed;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.1);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  display: none;
}

.dropdown.open dd {
  display: block;
}

.dropdown dd a {
  text-decoration: none;
  display: block;
  padding: 0.2em 0.5em 0.2em 2em;
  overflow: visible;
  color: #333;
}

.dropdown dd a.selected:before {
  position: absolute;
  content: "►";
  left: 0.6em;
}


.dropdown dd a:hover {
  background-color: #0084d1;
  color: #fff;
}

#search {
  display: inline-block;
  font: inherit;
  border: 1px solid #aaa;
  border-radius: 0;
  padding: 0.2em 0.5em;
  width: 17em;
}

#search:focus {
  border-color: #0084d1;
  outline: none;
}

#wgl4_limiter {
  margin-top: 0.5em;
  float: right;
}

#charlist table {
  border-collapse: collapse;
  width: 100%;
  clear: both;
}

#charlist td {
  border-color: #ddd;
  border-width: 0 1px;
  border-style: solid;
}

#charlist td,
#charlist th {
  text-align: center;
  padding: 0.2em 0.5em;
}

#charlist td.char span {
  cursor: pointer;
  white-space: pre;
}

#charlist .name,
#charlist .block {
  text-align: left;
}

#charlist td.name {
  text-transform: capitalize;
}

#charlist tr:nth-child(even) {
  background-color: #f0f1f2;
}

#charlist td:first-child {
  border-left: none;
}

#charlist td:last-child {
  border-right: none;
}

#charlist .char {
  text-align: center;
}

#charlist td.char {
  font-size: 2rem;
}

#charlist .char {
  width: 2rem;
}

#charlist .dec,
#charlist .hex {
  width: 2em;
}

#charlist .entity {
  text-align: left;
}

#charlist td.entity {
  font-family: "Source Code Pro", "Menlo", "Consolas", monospace;
}

.name > span {
  /* 'in WGL4' text */
  text-transform: none;
  color: #008000;
  padding-right: 0.5em;
  font-size: 0.75em;
  padding-left: 0.5em;
}

td.char span {
  color: #444;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  background: #fff;
  font-family: 'DejaVuSans';
}

.char span:hover {
  color: #000;
  box-shadow: 0 0 9px rgba(32,64,128,0.3);
}

.block a {
  text-decoration: none;
  border-bottom-width: 1px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 0.5em 0;
  }

  header, footer {
    padding: 0 1em;
  }

  h2 {
    padding-left: 1rem;
  }

  .large-screen {
    display: none;
  }

  label {
    display: block;
    margin-top: 0.5em;
  }

  .dropdown {
    width: 20em;
  }

  .dropdown dd {
    left: 0;
    right: 0;
    width: auto;
  }

  #wgl4_limiter {
    float: none;
  }

  #charlist.char {
    width: auto;
  }

  #charlist td.char {
    font-size: 1.3rem;
  }

  #charlist .hex {
    display: none;
  }

  #charlist td.name,
  #charlist td.block,
  #charlist td.entity {
    font-size: 0.8em;
  }

  .name span {
    font-weight: bold;
  }

}

@media screen and (max-width: 400px) {
  #charlist .entity {
    display: none;
  }

}
