@font-face {
  font-family: 'DejaVuSans';
  src: url('/media/fonts/DejaVuSans-webfont.eot');
  src: url('/media/fonts/DejaVuSans-webfont.eot?iefix') format('eot'),
       url('/media/fonts/DejaVuSans-webfont.woff') format('woff'),
       url('/media/fonts/DejaVuSans-webfont.ttf') format('truetype'),
       url('/media/fonts/DejaVuSans-webfont.svg#webfont') format('svg');
}

html {
  font: 16px/1.5 sans-serif;
  color: #333;
  background: #f7f8f9;
}

body {
  max-width: 55em;
  margin: 0 auto;
  padding: 0 1em 2em;
}

a {
  color: #0084d1;
  border-color: #0084d1;
  border-style: dotted;
  border-width: 0;
}

a:visited {
  color: #ab45d0;
  border-color: #ab45d0;
}

a:hover {
  color: #51afe6;
  border-color: #51afe6;
}

h1, h2, th {
}

.loading {
  opacity: 0.5;
}

#controls {
  margin-bottom: 1em;
}

#search {
  border: 1px solid #ddd;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  font: inherit;
  padding: 0.2em 0.5em;
  width: 15em;
}

#wgl4_limiter {
  margin-top: 0.5em;
  float: right;
}

#charlist table {
  border-collapse: collapse;
  width: 100%;
  clear: both;
}

#charlist td {
  border-color: #ddd;
  border-width: 0 1px;
  border-style: solid;
  padding: 0.2em 0.5em;
}

#charlist td,
#charlist th {
  text-align: center;
}

#charlist .name,
#charlist .block {
  text-align: left;
}

#charlist td.name {
  text-transform: capitalize;
}

td.name span {
  text-transform: none;
}

#charlist tr:nth-child(even) {
  background-color: #f0f1f2;
}

#charlist td:first-child {
  border-left: none;
}

#charlist td:last-child {
  border-right: none;
}

#charlist .char {
  text-align: center;
}

#charlist td.char {
  font-size: 2rem;
}

#charlist .char {
  width: 2rem;
}

#charlist .dec,
#charlist .hex {
  width: 2em;
}

.name span {
  color: #008000;
  padding-right: 0.5em;
  font-size: 0.75em;
  padding-left: 0.5em;
}

.char span {
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  background: #fff;
  font-family: 'DejaVuSans';
}

.block a {
  text-decoration: none;
  border-bottom-width: 1px;
}
