<h2>{{count}} characters found</h2>
<table>
  <thead>
    <tr>
      <th class="char">Char<span class="large-screen">acter</span></th>
      <th class="dec">Dec<span class="large-screen">imal</span></th>
      <th class="hex">Hex</th>
      <th class="entity">HTML</th>
      <th class="name">Name</th>
      {{#if showBlock}}
      <th class="block">Block</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{! remember: partials must be registered with Handlebars.registerPartial() }}
    {{> subcharlist}}
  </tbody>
</table>

{{#if canPaginate}}
<button class="pagination">Load More<br><span>({{numRemaining}} remaining)</span></button>
{{/if}}
